@font-face {
    font-family: 'Gagalin';
    src: url('Gagalin-Regular.woff2') format('woff2'),
        url('Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

