<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soluciones Online Blog</title>
  <meta name="keywords"
    content="SOLUCIONES, ONLINE, PROBLEMAS, ARREGLOS, PÁGINAS WEB, DESARROLLO DE SOFTWARE, SOPORTE IT, MARKETING DIGITAL, NEGOCIOS, EMPRESA, SEO,">
  <meta name="description"
    content="Este es el el blog de Soluciones Online. Se muestran imágenes y textos de diversos artículos.">
  <!--Enlaces a google font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
  <!--Bootstrap local CSS-->
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <!--Enlace a css-->
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="fondoIndex">
  <!-- acá empieza la cabecera -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-5">
      <div class="container-fluid">
        <div class="column">
          <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="Logo de Soluciones Online"
              class="logoNav"></a>
          <a class="navbar-brand" href="../index.html"><img src="../img/slogan.png" alt="slogan de Soluciones Online"
              class="sloganNav"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="nosotros.html">Nosotros</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="servicios.html">Páginas web</a></li>
                <li><a class="dropdown-item" href="servicios.html">Soporte IT</a></li>
                <li><a class="dropdown-item" href="servicios.html">Desarrollo de software</a></li>
                <li><a class="dropdown-item" href="servicios.html">Marketing digital</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="contactanos.html">Contactanos</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Acá termina la cabecera -->

  <h1 class="tituloPri animaUno">Bienvenido a nuestro blog</h1>
  <p class="parrafo m-3">Con notas y tips de desarrollo, marketing, y las últimas tendencias para que
    siempre estés al pendiente de las novedades, y de la información que tiene que ir
    de la mano con tu negocio</p>

  <section class="contenedorPilares">
    <article class="cajita trans">
      <img src="../img/edificio.jpg" class="articulo" alt="Imagen de una empresa">
      <h2 class="parrafo mt-2">Cómo nació soluciones online</h2>
      <p class="m-2">Esta empresa, se fundó de la mano de un grupo de desarrolladores más ambiciosos que las empresas
        donde trabajaban. Se reunieron con una puesta en común, de atender distintos sectores de IT y marketing para
        poder dar una solución conjunta a los negocios...</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>


    <article class="cajita trans">
      <img src="../img/disminucionCostos.jpg" class="articulo"
        alt="Imagen de una laptop y al lado un carrito de compras con dinero adentro">
      <h2 class="parrafo mt-2">Software para disminuir costos</h2>
      <p class="m-2">Una de las mejores ventajas que un negocio puede encontrar, para expandirse y mejorar la
        rentabilidad, es la posibilidad de disminuir sus costos gracias al software. Ya no solo es necesario, sino
        fundamental, contar con un sistema de software eficiente y capaz de gestionar...</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>

    <article class="cajita trans">
      <img src="../img/gestionDelTiempo.jpg" class="articulo"
        alt="Imagen de un escritorio con una laptop, con lapicero y un reloj">
      <h2 class="parrafo mt-2">Tips para una mejor gestión del tiempo</h2>
      <p class="m-2">Una de las grandes capacidades que toda empresa necesita, para sí misma, sus líderes y sus
        empleados, es una buena gestión del tiempo. Contrario a la idea común, a veces menos es más. Es más importante
        pocas cosas perfectamente hechas, que muchas medianamente bien hechas. Del mismo modo, la organización de las
        tareas y un sistema para ordenarlas es...</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>

    <article class="cajita trans">
      <img src="../img/softSkills.jpg" class="articulo"
        alt="Imagen de una reunión en una oficina, con sus integrantes mirándote">
      <h2 class="parrafo mt-2">Inteligencia emocional y soft skills</h2>
      <p class="m-2">Las habilidades más importantes para cualquier empresa, deberían ser primero las habilidades
        blandas sobre las habilidades llamadas "duras". Es bien sabido desde hace tiempo, que la inteligencia emocional,
        es más importante que el IQ, o por lo menos, es lo que suele llevar a la gente a ganar más dinero. Por si eso
        fuera poco, se ha demostrado que..</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>

    <article class="cajita trans">
      <img src="../img/liderazgo.jpg" class="articulo"
        alt="imagen de fondo negro y letras blancas, con la palabra: leadership">
      <h2 class="parrafo mt-2">Tipos de liderazgo ¿Qué tipo de lider sos?</h2>
      <p class="m-2">El liderazgo efectivo, es la capacidad que debería tener todo gran ejecutivo o persona al mando, no
        solo para poder desenvolverse con su personal, sino para tomar a su vez las mejores decisiones. Un buen
        liderazgo puede determinar el triunfo o la caída de una empresa, porque sus decisiones impactan...</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>

    <article class="cajita trans">
      <img src="../img/ventas.jpg" class="articulo"
        alt="Imagen con fondo negro, de una bolsa de compras con letreros que dicen: black friday y sale">
      <h2 class="parrafo mt-2">Cómo aumentar las ventas según la PNL</h2>
      <p class="m-2">La PNL, o programación neurolinguística, aplicada a las ventas puede ser sumamente útil y
        beneficiosa para cualquier empresa. Si bien puede aplicarse a distintos sectores dentro de una empresa, en este
        artículo nos centraremos en su relación con las ventas y la posibilidad de aumentarlas significativamente. La
        forma en la ...</p>
      <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Seguir leyendo</a>
    </article>
  </section>

  <!--Acá empieza el pie de página-->
  <footer class="container-fluid background bg-dark cajaPie">
    <div class="contenedorPie">
      <ul>
        <li class="contenedorPie__items"><a href="../index.html" class="contenedorPie__items--itemsColor">Home</a></li>
        <li class="contenedorPie__items"><a href="nosotros.html" class="contenedorPie__items--itemsColor">Nosotros<a>
        </li>
        <li class="contenedorPie__items"><a href="servicios.html" class="contenedorPie__items--itemsColor">Servicios</a>
        </li>
        <li class="contenedorPie__items"><a href="blog.html" class="contenedorPie__items--itemsColor">Blog</a>
        </li>
        <li class="contenedorPie__items"><a href="contactanos.html"
            class="contenedorPie__items--itemsColor">Contactanos</a></li>
      </ul>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">¡Seguinos en las redes!</h5>
      <ul class="contenedorRedes">
        <li><a href="https://www.linkedin.com/in/nahuel-lopez-a3bb32147/" target="_blank"><img src="../img/linkedin.svg"
              class="logoRedes"></a></li>
        <li><a href="https://twitter.com/" target="_blank"><img src="../img/twitter.svg" class="logoRedes"></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><img src="../img/facebook.svg" class="logoRedes"></a>
        </li>
      </ul>
    </div>

    <div class="contenedorPie">
      <a href="../index.html"><img src="../img/logo.png" class="logoFooter"></a>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">© Soluciones Online 2021</h5>
      <h6 class="contenedorPie__items contenedorPie__items--itemsColor">Todos los derechos reservados<h6>
    </div>
  </footer>
  <!--Acá termina el pie de página-->

  <!--Enlace a Js de Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
</body>

</html>