<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soluciones Online Nosotros</title>
  <meta name="keywords"
    content="SOLUCIONES, ONLINE, PROBLEMAS, ARREGLOS, PÁGINAS WEB, DESARROLLO DE SOFTWARE, SOPORTE IT, MARKETING DIGITAL, NEGOCIOS, EMPRESA, SEO,">
  <meta name="description"
    content="Esta es la sección acerca de nosotros, que es lo que hace soluciones online, cuáles son sus valores y de algunas de las empresas que nos eligen.">
  <!--Enlace a fuente local-->
  <link href="assets/fonts/stylesheet.css">
  <!--Enlaces a google font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2? family = Nunito: ital, wght @ 1300 & display = intercambiar "
    rel=" hoja de estilo ">
  <!--Bootstrap local CSS-->
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <!--Enlace a css-->
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="fondoIndex">
  <!-- acá empieza la cabecera -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-5">
      <div class="container-fluid">
        <div class="column">
          <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="Logo de Soluciones Online"
              class="logoNav"></a>
          <a class="navbar-brand" href="../index.html"><img src="../img/slogan.png" alt="slogan de Soluciones Online"
              class="sloganNav"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="servicios.html">Páginas web</a></li>
                <li><a class="dropdown-item" href="servicios.html">Soporte IT</a></li>
                <li><a class="dropdown-item" href="servicios.html">Desarrollo de software</a></li>
                <li><a class="dropdown-item" href="servicios.html">Marketing digital</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactanos.html">Contactanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Acá termina la cabecera -->

  <section>
    <div class="contenedorNosotros">
      <h1 class="tituloPri animaUno">Creamos soluciones digitales, y potenciamos tu negocio</h1>
      <video src="../multimedia/videoNosotros.mp4" autoplay loop preload muted class="videoNosotros"></video>
    </div>

    <div class="bg-dark">
      <p class="tituloNosotros">Estos son nuestros pilares:</p>
      <div class="contenedorPilares">
        <div class="cajita p-3">
          <img src="../img/Misión.svg" class="iconStyle">
          <h3 class="tituloNosotros">Misión</h3>
          <p class="parrafoNosotros">Hacer de tu negocio un negocio más grande. Crecemos cuando vos crecés.
            Buscamos que cada negocio tenga la mejor versión que pueda conseguir,
            en tiempos que cambian a la velocidad de la tecnología.</p>
        </div>

        <div class="cajita p-3">
          <img src="../img/Pasión.svg" class="iconStyle">
          <h3 class="tituloNosotros">Pasión</h3>
          <p class="parrafoNosotros">Creemos que trabajar con el corazón, con esfuerzo, dedicación,
            y poniéndole amor a cada trabajo que hacemos, es la forma de conseguir
            buenos resultados.</p>
        </div>

        <div class="cajita p-3">
          <img src="../img/Creatividad.svg" class="iconStyle">
          <h3 class="tituloNosotros">Creatividad</h3>
          <p class="parrafoNosotros">Contamos con un personal altamente capacitado.
            Creamos las soluciones que requieras,
            y que mejor se adapten a tu negocio.</p>
        </div>

        <div class="cajita p-3">
          <img src="../img/Visión.svg" Class="iconStyle">
          <h3 class="tituloNosotros">Visión</h3>
          <p class="parrafoNosotros">Nuestro equipo de marketing digital está enfocado en
            potenciar empresas que requieren estar a la vanguardia constante,
            por la compentencia creciente de todos los mercados a nivel online.
            Su objetivo es estar un paso adelante.</p>
        </div>

        <div class="cajita p-3">
          <img src="../img/Soporte.svg" class="iconStyle">
          <h3 class="tituloNosotros">Soporte</h3>
          <p class="parrafoNosotros">Nuestro equipo de desarrollo siempre está para respaldar a
            a las empresas que eligen trabajar con nosotros.
            Estar preparados para resolver,en cualquier circunstancia,
            es su objetivo.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3 class="titulo">Estas son algunas de las empresas que nos eligen:</h3>
    <div class="contenedorPilares">
      <div class="cajita">
        <h2 class="parrafo">SupermercadoX</h2>
        <img src="../img/negocio1.jpg" class="articulo" alt="Imagen del interior de un Supermercado">
      </div>

      <div class="cajita">
        <h2 class="parrafo">Turismo4ever</h2>
        <img src="../img/negocio2.jpg" class="articulo" alt="Imagen de una empresa de turimo">
      </div>

      <div class="cajita">
        <h2 class="parrafo">Hoteles Kiton</h2>
        <img src="../img/negocio3.jpg" class="articulo" alt="Imagen de un hotel con pileta exterior">
      </div>

      <div class="cajita">
        <h2 class="parrafo">Toilet soñado</h2>
        <img src="../img/negocio4.jpg" class="articulo" alt="Imagen de un toilet">
      </div>

      <div class="cajita">
        <h2 class="parrafo">Hermanas al rescate</h2>
        <img src="../img/negocio5.jpg" class="articulo" alt="Imagen de un salón preparado para eventos">
      </div>

      <p class="parrafo">¿Y vos? ¿Qué estás esperando para potenciar tu negocio en la web?
        ¿Te gustaría implementar mejoras tecnológicas o de marketing digital a tu negocio?
        Nuestros equipos implementan soluciones, que se adaptan a tus necesidades.</p>
    </div>
  </section>

  <!--Acá empieza el pie de página-->
  <footer class="container-fluid background bg-dark cajaPie">
    <div class="contenedorPie">
      <ul>
        <li class="contenedorPie__items"><a href="../index.html" class="contenedorPie__items--itemsColor">Home</a></li>
        <li class="contenedorPie__items"><a href="nosotros.html" class="contenedorPie__items--itemsColor">Nosotros<a>
        </li>
        <li class="contenedorPie__items"><a href="servicios.html" class="contenedorPie__items--itemsColor">Servicios</a>
        </li>
        <li class="contenedorPie__items"><a href="blog.html" class="contenedorPie__items--itemsColor">Blog</a>
        </li>
        <li class="contenedorPie__items"><a href="contactanos.html"
            class="contenedorPie__items--itemsColor">Contactanos</a></li>
      </ul>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">¡Seguinos en las redes!</h5>
      <ul class="contenedorRedes">
        <li><a href="https://www.linkedin.com/in/nahuel-lopez-a3bb32147/" target="_blank"><img src="../img/linkedin.svg"
              class="logoRedes"></a></li>
        <li><a href="https://twitter.com/" target="_blank"><img src="../img/twitter.svg" class="logoRedes"></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><img src="../img/facebook.svg" class="logoRedes"></a>
        </li>
      </ul>
    </div>

    <div class="contenedorPie">
      <a href="../index.html"><img src="../img/logo.png" class="logoFooter"></a>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">© Soluciones Online 2021</h5>
      <h6 class="contenedorPie__items contenedorPie__items--itemsColor">Todos los derechos reservados<h6>
    </div>
  </footer>
  <!--Acá termina el pie de página-->

  <!--Enlace a Js de Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</body>

</html>