<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soluciones Online Servicios</title>
  <meta name="keywords"
    content="SOLUCIONES, ONLINE, PROBLEMAS, ARREGLOS, PÁGINAS WEB, DESARROLLO DE SOFTWARE, SOPORTE IT, MARKETING DIGITAL, NEGOCIOS, EMPRESA, SEO,">
  <meta name="description"
    content="Esta es la sección de servicios de Soluciones Online. Se aclaran los servicios que se ofrecen.">
  <!--Enlaces a google font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
  <!--Bootstrap local CSS-->
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <!--Enlace a css-->
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="fondoIndex">
  <!-- acá empieza la cabecera -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-5">
      <div class="container-fluid">
        <div class="column">
          <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="Logo de Soluciones Online"
              class="logoNav"></a>
          <a class="navbar-brand" href="../index.html"><img src="../img/slogan.png" alt="slogan de Soluciones Online"
              class="sloganNav"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="servicios.html">Páginas web</a></li>
                <li><a class="dropdown-item" href="servicios.html">Soporte IT</a></li>
                <li><a class="dropdown-item" href="servicios.html">Desarrollo de software</a></li>
                <li><a class="dropdown-item" href="servicios.html">Marketing digital</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactanos.html">Contactanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Acá termina la cabecera -->

  <section>
    <h1 class="tituloPri animaUno">Nuestros servicios</h1>
    <h2 class="titulo mt-4">Páginas web</h2>
    <div class="serviciosFlex">
      <img src="../img/webPages.jpg" class="imgServicio">
      <div class="cajitaServicio m-4">
        <p class="parrafoServicio">Construiremos tu sitio web para que sea rápido y atractivo, para que sus visitantes puedan obtener el valor que les ofrece sin ninguna confusión. Nada de plantillas convencionales, diseños exclusivos y personalizados a tu negocio, para tu tipo de cliente. Además crearemos funcionalidades para que tu negocio destaque en internet. 
        </p>
        <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Quiero mi web</a>
      </div>
    </div>

    <h2 class="titulo mt-4">Soporte IT</h2>
    <div class="serviciosFlex">
      <img src="../img/soporteTecnico.jpg" class="imgServicio">
      <div class="cajitaServicio m-4">
        <p class="parrafoServicio">Cuidamos el valor de tus datos, de la empresa y de las personas, dando soluciones para proteger la seguridad en los ambientes digitales. La seguridad informática es manejada por nuestro sector de soporte altamente capacitado y experimentado.
        Ofrecemos varios esquemas de soporte: presencial y remoto. Nos adaptamos a tus necesidades, brindando el servicio que cada organización requiere.
        </p>
        <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Quiero mi soporte</a>
      </div>
    </div>

    <h2 class="titulo mt-4">Desarrollo de software</h2>
    <div class=" serviciosFlex">
      <img src=" ../img/desarrolloWeb.jpg" class="imgServicio">
      <div class="cajitaServicio m-4">
        <p class=" parrafoServicio">Proyectos sencillos o de alta complejidad, nada está fuera del alcance de nuestro sector de desarrollo, que trabaja con metologías ágiles, a la vanguardia de cada tecnología, y con compromiso y calidad garantizada. Productos de software a medida, con diseños intuitivos, nada rebuscados, y perfectamente terminados para el tipo de solución que requieras. Encontrá en nuestro departamento, el socio tecnológico que tu empresa necesita.
        </p>
        <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Quiero mi software</a>
      </div>
      </div>

      <h2 class="titulo mt-4">Marketing digital</h2>
      <div class="serviciosFlex">
        <img src="../img/marketingOnline.jpg" class="imgServicio">
        <div class="cajitaServicio m-4">
          <p class="parrafoServicio">Te alcanzamos más clientes y te ayudamos a vender por internet. Crearemos campañas de marketing únicas y diseñadas exclusivamente para tu negocio. Gestionamos tus campañas de publicidad, para que esos clientes potenciales puedan llegar a tu negocio.</p>
          <a href="#" button type="button" class="btn btn-primary btn-lg m-1">Quiero mi marketing</a>
        </div>
      </div>
  </section>

  <!--Acá empieza el pie de página-->
  <footer class="container-fluid background bg-dark cajaPie">
    <div class="contenedorPie">
      <ul>
        <li class="contenedorPie__items"><a href="../index.html" class="contenedorPie__items--itemsColor">Home</a></li>
        <li class="contenedorPie__items"><a href="nosotros.html" class="contenedorPie__items--itemsColor">Nosotros<a>
        </li>
        <li class="contenedorPie__items"><a href="servicios.html" class="contenedorPie__items--itemsColor">Servicios</a>
        </li>
        <li class="contenedorPie__items"><a href="blog.html" class="contenedorPie__items--itemsColor">Blog</a>
        </li>
        <li class="contenedorPie__items"><a href="contactanos.html"
            class="contenedorPie__items--itemsColor">Contactanos</a></li>
      </ul>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">¡Seguinos en las redes!</h5>
      <ul class="contenedorRedes">
        <li><a href="https://www.linkedin.com/in/nahuel-lopez-a3bb32147/" target="_blank"><img src="../img/linkedin.svg"
              class="logoRedes"></a></li>
        <li><a href="https://twitter.com/" target="_blank"><img src="../img/twitter.svg" class="logoRedes"></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><img src="../img/facebook.svg" class="logoRedes"></a>
        </li>
      </ul>
    </div>

    <div class="contenedorPie">
      <a href="../index.html"><img src="../img/logo.png" class="logoFooter"></a>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">© Soluciones Online 2021</h5>
      <h6 class="contenedorPie__items contenedorPie__items--itemsColor">Todos los derechos reservados<h6>
    </div>
  </footer>
  <!--Acá termina el pie de página-->

  <!--Enlace a Js de Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</body>

</html>