<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soluciones Online Servicios</title>
  <meta name="keywords"
    content="SOLUCIONES, ONLINE, PROBLEMAS, ARREGLOS, PÁGINAS WEB, DESARROLLO DE SOFTWARE, SOPORTE IT, MARKETING DIGITAL, NEGOCIOS, EMPRESA, SEO,">
  <meta name="description"
    content="Esta es la sección de servicios de Soluciones Online. Se aclaran los servicios que se ofrecen.">
  <!--Bootstrap local CSS-->
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <!--Enlace a css-->
  <link rel="stylesheet" href="../assets/css/style.css">
  <!--Enlaces a google font-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2? family = Nunito: ital, wght @ 1300 & display = intercambiar "
    rel=" hoja de estilo ">
</head>

<body class="fondoIndex">

  <!-- acá empieza la cabecera -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="Logo Soluciones Online"
            class="img-fluid logoNav"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">Nosotros</a>
            </li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle active" aria-current="page" type="button"
                id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="servicios.html">Páginas web</a></li>
                <li><a class="dropdown-item" href="servicios.html">Soporte IT</a></li>
                <li><a class="dropdown-item" href="servicios.html">Desarrollo de software</a></li>
                <li><a class="dropdown-item" href="servicios.html">Marketing digital</a></li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactanos.html">Contactanos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Acá termina la cabecera -->

  <section>

    <h1 class="tituloPri animaDos">Nuestros servicios</h1>

    <h2 class="titulo">Páginas web</h2>
    <div class="serviciosFlex">
      <img src="../img/webPages.jpg" class="imgServicio">
      <p class="parrafoServicio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nemo
        consequuntur, amet odio officiis eum impedit quia delectus cumque veritatis aspernatur
        asperiores debitis vitae numquam iste suscipit recusandae hic praesentium.</p>
    </div>

    <h2 class="titulo">Soporte IT</h2>
    <div class="serviciosFlex">
      <img src="../img/soporteTecnico.jpg" class="imgServicio">
      <p class="parrafoServicio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nemo
        consequuntur, amet odio officiis eum impedit quia delectus cumque veritatis aspernatur asperiores debitis
        vitae numquam iste suscipit recusandae hic praesentium.</p>
    </div>

    <h2 class="titulo"">Desarrollo de software</h2>
    <div class=" serviciosFlex">
      <img src=" ../img/desarrolloWeb.jpg" class="imgServicio">
      <p class=" parrafoServicio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nemo
        consequuntur, amet odio officiis eum impedit quia delectus cumque veritatis aspernatur asperiores debitis vitae
        numquam iste suscipit recusandae hic praesentium.</p>
      </div>

      <h2 class="titulo">Marketing digital</h2>
      <div class="serviciosFlex">
        <img src="../img/marketingOnline.jpg" class="imgServicio">
        <p class="parrafoServicio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nemo
          consequuntur, amet odio officiis eum impedit quia delectus cumque veritatis aspernatur
          asperiores debitis vitae numquam iste suscipit recusandae hic praesentium.</p>
      </div>

  </section>

  <!--Acá empieza el pie de página-->

  <footer class="container-fluid background bg-dark cajaPie">

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">© Soluciones Online 2021</h5>
      <h6 class="contenedorPie__items contenedorPie__items--itemsColor">Todos los derechos reservados</h6>
    </div>

    <div class="contenedorPie">
      <ul>
        <li class="contenedorPie__items"><a href="../index.html" class="contenedorPie__items--itemsColor">Home</a></li>
        <li class="contenedorPie__items"><a href="nosotros.html" class="contenedorPie__items--itemsColor">Nosotros<a>
        </li>
        <li class="contenedorPie__items"><a href="servicios.html" class="contenedorPie__items--itemsColor">Servicios</a>
        </li>
        <li class="contenedorPie__items"><a href="blog.html" class="contenedorPie__items--itemsColor">Blog</a></li>
        <li class="contenedorPie__items"><a href="contactanos.html"
            class="contenedorPie__items--itemsColor">Contactanos</a></li>
      </ul>
    </div>

    <div class="contenedorPie">
      <h5 class="contenedorPie__items contenedorPie__items--itemsColor">Seguinos en las redes sociales</h5>
      <ul class="contenedorRedes">
        <li><a href="#"><img src="../img/facebook.svg" class="logoRedes"></a></li>
        <li><a href="#"><img src="../img/twitter.svg" class="logoRedes"></a></li>
        <li><a href="#"><img src="../img/instagram.svg" class="logoRedes"></a></li>
        <li><a href="#"><img src="../img/youtube.svg" class="logoRedes"></a></li>
        <li><a href="#"><img src="../img/linkedin.svg" class="logoRedes"></a></li>
        <li><a href="#"><img src="../img/blogger.svg" class="logoRedes"></a></li>
      </ul>
    </div>

  </footer>

  <!--Acá termina el pie de página-->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</body>

</html>