* {
    margin: 0;
    padding: 0;
}

/*Variables globales*/
$colorUno: black;
$colorDos: white;
$colortres: rgb(184, 181, 181);
$colorCuatro: rgb(97, 8, 133);
$colorCinco: #ffbe50;
$letraFuente: "Nunito", sans-serif;
/*Variables cambiadas en bootstrap*/
$primary: rgb(184, 181, 181);
$danger: #c0130a;
$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "../bootstrap/scss/bootstrap.scss";

/*Acá empiezo a usar BEM*/
.fondoIndex {   /*Esto es un bloque*/
    background-image: linear-gradient(to right bottom, rgb(253, 253, 253), rgb(220, 218, 250));
    background-size: cover;
    background-repeat: no-repeat;    
}

.logoNav {      /*Este es otro bloque*/
    width: 13vw;
    height: auto;
    margin-left: 4vw;
}

.sloganNav {      /*Este es otro bloque*/
    width: 25vw;
    height: auto;
    margin-left: 0.2vw;
}

/*Secciones del home con BEM*/
.cajaHome {         /*Este es un bloque*/
    display: flex;
    justify-content: center;
    position: relative;
}

.cajaHome__ImgHome {    /*Este es un elemento del bloque cajaHome*/
    height: auto;
    width: 100vw;
}

.cajaHome::before { /*Este es un pseudoelemento de cajaHome para producir el efecto "overlay"*/
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.tituloPrincipal {        /*Este es un bloque*/
    color: $colorCinco;
    font-size: 4rem;   /* 64px*/
    font-weight: bold;
    text-align: center;
    text-shadow: 1.5px 1.5px 0.5px grey;
    font-family: $letraFuente;
    position: absolute;
    margin-top: 4vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

.tituloSecundario {     /*Este es otro bloque*/
    color: $colorCinco;
    font-size: 3rem; /* 48px*/
    font-weight: bold;
    font-family: $letraFuente;
    margin: 4vh 0;
    justify-content: center;
}

.cajaDark {     /*Este es otro bloque*/
    max-width: 100vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.subtitulo {        /*Este es otro bloque.*/
    color: $colorDos;
    font-size: 2rem; /* 32px*/
    font-weight: bold;
    font-family: $letraFuente;
    line-height: 3rem;
}

.contenedor {       /*Este es otro bloque*/
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content:center;
    margin: 10px 30px;
}

.caja {         /*Este es otro bloque*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items:center;
    align-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #484848;
    margin-bottom: 20px;
    margin-top: 20px;
}

.caja__ImgServ {    /*Este es un elemento del bloque caja*/
    height: auto;
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
}

.caja__Titulo {     /*Este es otro elemento del bloque caja*/
    color: $colorUno;
    font-size: 2rem; /**/
    line-height: 2.5rem;
    font-family: $letraFuente;
    text-align: center;
    padding: 10px;
}

/*footer con BEM*/
.cajaPie {              /*Este es otro bloque*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorPie {        /*Este es otro bloque*/
    margin: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.contenedorPie__items {      /*Este es un elemento del bloque contenedorPie*/
    margin-top: 10px;
    font-family: $letraFuente;
}

.contenedorPie__items--itemsColor {     /*Este es un modificador del elemento del bloque contenedorPie*/
    color: $colortres;
    text-decoration: none;
}

.contenedorRedes {      /*Este es otro bloque*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.logoRedes {        /*Este es otro bloque*/
    height: auto;
    width: 3.5rem;  
    margin: 10px;
    padding: 8px;
    border-radius: 50%;
}

.logoFooter {   /*Este es otro bloque*/
    width: 13vw;
    height: auto;
}
/*Acá termino de usar BEM*/

.tituloPri {        /*Se va a usar para todos los h1 en cada .html, excepto el del index*/
    color: $colorCinco;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1.5px 1.5px 0.5px grey;
    font-family: $letraFuente;
    margin: 4vh 2vw 3vh 2vw;
}

.contenedorNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 1rem 1rem 1rem;    
}

.videoNosotros {
    height: auto;
    width: 70vw;
    border-radius: 5%;
    align-items: center;
    align-self: center;
}

.tituloValores {     /*Este es otro elemento del bloque caja*/
    color: $colortres;
    font-size: 3rem; /* 48px*/
    font-weight: bold;
    font-family: $letraFuente;
    text-align: center;
}

.valores {
    color: $colorDos;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: $letraFuente;
    margin: 1rem;
    text-align: center;
}

.parrafoValores {
    color: $colorDos;
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-family: $letraFuente;
    text-align: center;   
}

.titulo {
    color: $colorUno;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    font-family: $letraFuente;
    margin: 1.5rem 0;
    text-align: center;
}

.parrafo {
    color: $colorUno;
    font-size: 2rem;
    line-height: 2rem;
    font-family: $letraFuente;
    text-align: center;    
}

.iconStyle {
    height: 4rem;   
}

.contenedorPilares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 2rem;
}

.cajita {
    margin: 1.5rem;
    height: auto;
    width: 30vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #484848;
}

.cajitaServicio {
    height: auto;
    width: 80vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #484848;
}

.tituloServicio { /*...Revisar esta clase a ver si la uso en alguna parte. Podría ser tituloValores......*/
    color: $colorUno;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    font-family: $letraFuente;
    text-align: start;
    margin: 2.5rem 2.5rem 1.25rem 3.125rem;
}

.parrafoServicio {
    color: $colorUno;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: $letraFuente;
    margin: 1.25rem;
    text-align: center;
}

.serviciosFlex {
    display: flex;
    flex-direction:row;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.imgServicio {
    height: auto;
    width: 50vw;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
}

.articulo {
    height: auto;
    width: 30vw;
    border-radius: 10px;
}

.contacto {
    color: $colorUno;
    font-size: 1.25rem;
    font-family: $letraFuente;
    margin: 1.5rem;
}

.contactoFlex {
    display: flex;
    flex-direction: row;
    margin: 1.25rem 1.25rem 0 1.25rem;
}

.mapaContacto {
    border-radius: 10px;
}

.cajitaFormulario {
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #484848;
    max-width: 45vw;
}

/*Transición*/
.trans {
    transition: all 1s;
}

.trans:hover {
    height:auto;
    width: 35vw;
}

/*Animación*/
/*Línea de tiempo*/
@keyframes efectoUno {
    0% {
        font-family: $letraFuente;     /*Propiedades CSS*/
    }
    20% {
        font-family: $letraFuente;
        color: $colorDos;
    }
    40% {
        font-family: $letraFuente;
        color: $colorDos;
    }
    60% {
        font-family: $letraFuente;
        color: $colorDos;
    }
    80% {
        font-family: $letraFuente;
        color: $colorDos;
    }
    100% {
        color: $colorUno;
        font-family: $letraFuente;   /*Propiedades CSS*/
    } /*Final de la animación*/
}

.animaUno {
    animation-name: efectoUno; /*Nombre del keyframe*/
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 0.35s;
    animation-delay: 0.7s;
}

@keyframes efectoDos {
    0% {
        font-family: $letraFuente;   /*Propiedades CSS*/
    }
    20% {
        transform: rotate(45deg);
        font-family: $letraFuente;
    }
    40% {
        transform: rotate(90deg);
        color: $colortres;
        font-family: $letraFuente;
    }
    60% {
        transform: rotate(180deg);
        color: $colortres;
        font-family: $letraFuente;
    }
    80% {
        transform: rotate(270deg);
        color: $colortres;
        font-family: $letraFuente;
    }
    100% {
        transform: rotate(360deg);
        color: $colorUno;
        font-family: $letraFuente;   /*Propiedades CSS*/
    } /*Final de la animación*/
}

.animaDos {
    animation-name: efectoDos; /*Nombre del keyframe*/
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 1s;
}

@media(max-width: 991.98px) {
    
    .logoNav {
        width: 15vw;
        margin-left: 3vw;
    }
    
    .sloganNav {      /*Este es otro bloque*/
        width: 32vw;
        height: auto;
    }

    .logoFooter {
        width: 18vw;
    }

    .tituloPrincipal {
        font-size: 2rem;
        margin-top: 5vh;
    }

    .tituloSecundario {
        font-size: 1.5rem;
    }

    .tituloPri {
        font-size: 2rem;        
    }
    
    .caja__Titulo {
        font-size: 1.5rem;
    }
    
    .subtitulo {
        font-size: 1.25rem;
    }

    .parrafo {
        font-size: 1.25rem;
    }

    .tituloValores {
        font-size: 1.5rem;
    }

    .valores {
        font-size: 1.25rem;
        text-align: center;
    }

    .parrafoValores {
        font-size: 1rem;
    }

    .titulo {
        font-size: 1.25rem;
    }


    .serviciosFlex {
        flex-direction:column;
    }

    .tituloServicio {
        font-size: 1.5rem;
    }

    .parrafoServicio {
        font-size: 1.25rem;
    }

    .imgServicio {
        width: 65vw;
    }

    .parrafoBlog {
        font-size: 1.25rem;
    }

    .contactoFlex {
        display: flex;
        flex-direction: column;
        margin: 15px 10px;
    }

    .cajitaFormulario {
        max-width: 80vw;
    }
}

@media(max-width: 575.98px) {

    .logoNav {
        width: 20vw;
        margin-left: 0.5vw;
    }
    
    .sloganNav {    
        width: 35vw;
        height: auto;
        margin-left: 0.1vw;
    }

    .logoFooter {
        width: 35vw;
    }

    .tituloPrincipal {
        font-size: 1.25rem;
        margin-top: 1vh;
    }

    .cajaDark {
        height: 40vh;
        justify-content: center;
        padding-bottom: 1.25rem;
    }

    .tituloSecundario {
        font-size: 1.25rem;
        padding: 2vh;
    }

    .tituloPri {
        font-size: 1.25rem;        
    }
    
    .caja__Titulo {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .caja__ImgServ {    
        height: auto;
        width: 80vw;
    }
    
    .subtitulo {
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 5px;
    }

    .cajaPie {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cajitaServicio {
        width: 90vw;
    }

    .imgServicio{
        width: 90vw;
    }

    .cajita {
        width: 100vw;
    }

    .articulo {
        width: 90vw;
    }

    .tituloValores {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .valores {
        font-size: 1.25rem;
    }

    .parrafoValores {
        font-size: 1rem;
    }

    .titulo {
        font-size: 1.125rem;
        line-height: 1.25rem;
        margin: 1rem;
    }

    .parrafo {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .tituloServicio {
        font-size: 1rem;
    }

    .parrafoServicio {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .parrafoBlog {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .contacto {
        font-size: 14px;
        text-align:left;
        margin-left: 1px;
    }

    .cajitaFormulario {
        max-width: 92vw;
    }
}

/*Mixin para crear bordes en cajas*/
@mixin crearBordes($color, $size, $shadow){
    border:$size solid $color;
    border-radius: $size;
    box-shadow: 5px 5px $size $shadow;
}

.cajaFormulario {
    @include crearBordes($colorCinco, 5px, $colortres);
    max-width: 100vw;
}
