@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/*Variables globales*/
/*Acá empiezo a usar BEM*/
.fondoIndex {
  /*Esto es un bloque*/
  background-image: linear-gradient(to right bottom, #fdfdfd, #dcdafa);
  background-size: cover;
  background-repeat: no-repeat; }

.logoNav {
  /*Este es otro bloque*/
  width: 5vw;
  height: auto;
  border-radius: 10px; }

/*Secciones del home con BEM*/
.tituloPri {
  /*Este es otro bloque. Se va a usar para todos los h1 en cada .html*/
  color: black;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1.5px 1.5px 0.5px grey;
  font-family: "Nunito", sans-serif;
  margin: 30px; }

.subtitulo {
  /*Este es otro bloque.*/
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  line-height: 50px;
  margin: 20px; }

.subtitulo--Izq {
  /*Este es un modificador del bloque subtitulo*/
  text-align: left;
  margin-left: 20px; }

.subtitulo--Cent {
  /*Este es otro modificador del bloque subtitulo*/
  text-align: center; }

.contenedor {
  /*Este es otro bloque*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 10px 30px; }

.caja {
  /*Este es otro bloque*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 20px; }

.caja__ImgHome {
  /*Este es un elemento del bloque caja*/
  height: auto;
  width: 50vw;
  border-radius: 20px;
  margin-right: 20px; }

.caja__ImgServ {
  /*Este es otro elemento del bloque caja*/
  height: auto;
  width: 30vw;
  margin: 10px;
  border-radius: 10px; }

.caja__Titulo {
  /*Este es otro elemento del bloque caja*/
  color: black;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  margin: 20px;
  text-align: center; }

/*footer con BEM*/
.cajaPie {
  /*Este es otro bloque*/
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.contenedorPie {
  /*Este es otro bloque*/
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contenedorPie__items {
  /*Este es un elemento del bloque contenedorPie*/
  margin-top: 10px;
  font-family: "Nunito", sans-serif; }

.contenedorPie__items--itemsColor {
  /*Este es un modificador del elemento del bloque contenedorPie*/
  color: rgba(233, 216, 169, 0.911);
  text-decoration: none; }

.contenedorRedes {
  /*Este es otro bloque*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.logoRedes {
  /*Este es otro bloque*/
  height: auto;
  width: 50px;
  margin: 10px;
  padding: 10px; }

/*Acá termino de usar BEM*/
.decoLink {
  text-decoration: none; }

.cajaNegra {
  max-width: 100%;
  height: 80vh; }

.contenedorNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 20px; }

.videoNosotros {
  height: auto;
  width: 60vw;
  border-radius: 5%;
  align-items: center;
  align-self: center; }

.tituloNosotros {
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: "Nunito", sans-serif;
  margin: 20px; }

.parrafoNosotros {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  text-align: center; }

.titulo {
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: "Nunito", sans-serif;
  margin: 20px; }

.parrafo {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  text-align: center; }

.iconStyle {
  height: 75px; }

.contenedorPilares {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 30px; }

.cajita {
  margin: 25px;
  height: auto;
  width: 30vw;
  text-align: center; }

.cajitaServicio {
  margin: 25px;
  height: auto;
  width: 60vw;
  text-align: center; }

.tituloServicio {
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  font-family: "Nunito", sans-serif;
  text-align: start;
  margin: 40px 40px 20px 50px; }

.parrafoServicio {
  color: black;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  margin: 20px; }

.serviciosFlex {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px; }

.imgServicio {
  height: auto;
  max-width: 70vw;
  margin: 20px;
  border-radius: 10px;
  align-self: center; }

.parrafoBlog {
  color: black;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: 0 15px; }

.articulo {
  height: auto;
  width: 30vw;
  border-radius: 10px; }

.contacto {
  color: black;
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  margin: 30px;
  font-weight: bold; }

.contactoFlex {
  display: flex;
  flex-direction: row;
  margin: 0 20px; }

.mapaContacto {
  border-radius: 10px; }

/*Transición*/
.trans {
  transition: all 1s; }

.trans:hover {
  height: auto;
  width: 35vw; }

/*Animación*/
/*Línea de tiempo*/
@keyframes efectoUno {
  0% {
    font-family: "Nunito", sans-serif;
    margin: 20px;
    /*Propiedades CSS*/ }
  20% {
    font-family: "Nunito", sans-serif;
    margin-left: 50px; }
  40% {
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 80px; }
  60% {
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 110px; }
  80% {
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 140px; }
  100% {
    color: black;
    font-family: "Nunito", sans-serif;
    margin: 20px;
    /*Propiedades CSS*/ }
  /*Final de la animación*/ }

.animaUno {
  animation-name: efectoUno;
  /*Nombre del keyframe*/
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1s; }

@keyframes efectoDos {
  0% {
    font-family: "Nunito", sans-serif;
    margin: 20px;
    /*Propiedades CSS*/ }
  20% {
    transform: rotate(45deg);
    font-family: "Nunito", sans-serif;
    margin-left: 50px; }
  40% {
    transform: rotate(90deg);
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 80px; }
  60% {
    transform: rotate(180deg);
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 110px; }
  80% {
    transform: rotate(270deg);
    color: rgba(233, 216, 169, 0.911);
    font-family: "Nunito", sans-serif;
    margin-left: 140px; }
  100% {
    transform: rotate(360deg);
    color: black;
    font-family: "Nunito", sans-serif;
    margin: 20px;
    /*Propiedades CSS*/ }
  /*Final de la animación*/ }

.animaDos {
  animation-name: efectoDos;
  /*Nombre del keyframe*/
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1s; }

@keyframes efectoTres {
  0% {
    transform: skew(30deg);
    /*Propiedades CSS*/ }
  20% {
    transform: skewX(-30deg); }
  40% {
    transform: skewX(30deg); }
  60% {
    transform: skewX(-30deg); }
  80% {
    transform: skewX(30deg); }
  100% {
    transform: skewX(0deg);
    /*Propiedades CSS*/ }
  /*Final de la animación*/ }

.animaTres {
  animation-name: efectoTres;
  /*Nombre del keyframe*/
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 1s; }

@media (max-width: 1024px) {
  .tituloPri {
    font-size: 30px; }
  .caja__Titulo {
    font-size: 25px; }
  .subtitulo {
    font-size: 20px; }
  .tituloNosotros {
    font-size: 20px;
    text-align: center; }
  .parrafoNosotros {
    font-size: 15px; }
  .titulo {
    font-size: 20px;
    text-align: center; }
  .serviciosFlex {
    flex-direction: column; }
  .tituloServicio {
    font-size: 25px; }
  .parrafoServicio {
    font-size: 15px; }
  .parrafoBlog {
    font-size: 20px; }
  .contactoFlex {
    display: flex;
    flex-direction: column;
    margin: 10px 5px; } }

@media (max-width: 480px) {
  .tituloPri {
    font-size: 20px; }
  .caja__Titulo {
    font-size: 15px;
    line-height: 20px; }
  .subtitulo {
    font-size: 15px;
    line-height: 20px;
    margin: 5px; }
  .cajaPie {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .cajita {
    width: 100vw; }
  .articulo {
    width: 60vw; }
  .tituloNosotros {
    font-size: 15px; }
  .parrafoNosotros {
    font-size: 10px; }
  .titulo {
    font-size: 15px;
    line-height: 20px; }
  .parrafo {
    font-size: 10px;
    line-height: 20px; }
  .tituloServicio {
    font-size: 15px; }
  .parrafoServicio {
    font-size: 10px;
    line-height: 20px; }
  .parrafoBlog {
    font-size: 10px;
    line-height: 20px; }
  .contacto {
    font-size: 15px;
    margin: 10px 0px; } }

/*Mixin para crear bordes en cajas*/
.cajaFormulario {
  border: 5px solid #66186d;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  max-width: 80vw; }
